body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: var(--primary);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #f1f1f1;
    display: block;
    transition: all .4s;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
    background-size: 250%;
}

.sidenav a:hover:not(:first-child) {
    background-position: 100%;
    transform: translateX(0.5REM);
}

.sidenav a:hover {
    color: #000;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.side-nav__icon {
    color: var(--primary);
    font-size: 30px;
    cursor: pointer;
}


@media (min-width: 770px) {
    .mobile-content-display {
        display: none;
    }
}

button.navbar-toggler:focus {
    outline: none;
}

@media(max-width:400px) {
    a.navbar-brand {
        width: 4rem
    }
}

@media(min-width:400px) {
    a.navbar-brand {
        width: 6rem
    }
}

@media(min-width:700px) {
    a.navbar-brand {
        width: 7rem
    }
}


.card {
    background-color: orangered;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card--slider {
    min-width: 100%;
    display: flex;
    overflow-x: auto;
}

.card--content {
    min-width: 120px;
    margin: 5px;
    box-shadow: 0px .1rem rgba(0, 0, 0, .1);
}

.card--slider::-webkit-scrollbar {
    display: none;
}

.card--slider {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.img-same-height {
    height: 60px;
    overflow: hidden;
}

@media(min-width:700px) {
    .card--content {
        min-width: 200px;
    }

    .img-same-height {
        height: 100px;
        overflow: hidden;
    }
}

.our-menu-img {
    width: 100%;
    height: 120px;
    border: white;
    border-radius: 0.5rem;
    object-fit: cover;
    filter: brightness(70%);
    /* background-color: rgba(0, 0, 0, 1); */

}

.our-menu-card {
    position: relative;
}

.our-menu-text {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    margin: 0px;
    font-size: 1.2rem;
    font-weight: 900;
    /* text-shadow: 1px 1px 10px black, -1px -1px 10px black; */

}

.carousel-img {
    width: 100%;

    height: 150px;
    object-fit: cover;
}

@media(min-width:400px) {
    .carousel-img {
        height: 200px;
    }
}

@media(min-width:550px) {
    .carousel-img {
        height: 250px;
    }
}

@media(min-width:550px) {
    .carousel-img {
        height: 430px;
    }
}